NODE_ENV=development
NEXT_PUBLIC_NODE_ENV=development

NEXT_PUBLIC_GOOGLE_ANALYTICS_STREAM_ID=
NEXT_PUBLIC_GOOGLE_ADS_PUBLISHER_ID=

# resend.com
RESEND_API_KEY=
RESEND_WEBVIUM_SEGMENT_ID=
EARLY_ACCESS_FROM_EMAIL="Webvium <hello@webvium.com>"

# console.upstash.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

EARLY_ACCESS_DEDUPE_TTL_SECONDS=31536000
